
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .dashboard-body {
    margin-right: 0%;
    background-color: #6b5b95;
    font-style: italic;
    color: white;
  }
  
  .dashboard-inactive{
    margin-left: 22%;
  }